################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kanban/.vs
/Kanban/Kanban/obj
/Kanban/Kanban/bin/
