################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.editorconfig

/.vs
/Kanban/obj
/Kanban/bin/
